* {
  margin: 0;
}

html, body {
  height: 100%;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px;
  background-color: white;
}

.footer, .push {
  height: 50px;
  /* .push must be the same height as .footer */
}

.formCenter {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.page-header {
  text-align: center;
}

.errorLogin {
  color: red;
  text-align: center;
  font-weight: bold;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
  /* the bottom margin is the negative value of the footer's height */
}

.botao_margem{
  margin: 5px !important;
}

header {
  background-image: url("../image/backCars.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

button {
  width: 100%;
}

th, td{
  text-align:center;
}
#input_email {
  background-image: url(../images/man-user.png);
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-size: 25px 25px;
}

#input_pass {
  background-image: url(../images/password.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 20px 20px;
}
