.footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px;
}

.formCenter{
  width: 100%;
  position: absolute;
  top: 50%;
   transform: translateY(-50%);
}

.page-header{
  text-align: center;
}

#errorLogin{
  color: red;
  text-align: center;
  font-weight: bold;
}

button{
  width: 100%;
}
