//output: dashboard.html


doctype html
html(lang="pt")
  head
    title EVHub
    meta(charset="utf-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body


    //navbar
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          a(href="#", class="navbar-brand") EVHub
        ul.nav.navbar-nav
          li.active
            a Home
          li
            a(href="#") Page 1
          li
            a(href="#") Page 2
            
    label DASHBOARD
          

  
